aniso8601
asgiref
certifi
charset-normalizer
Django 
django-graphql-jwt
djongo
dnspython
graphene
graphene-django
graphene-file-upload
graphql-core
graphql-relay
idna
Pillow
promise
psycopg2-binary
pycryptodome
PyJWT
pymongo
python-dotenv
pytz
requests
six
sqlparse
text-unidecode
typing-extensions
urllib3